<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <% 
    require 'httparty'
    require 'json'

    response = HTTParty.get("https://6ac89029505ca7dd807aa45c0667d63f:3abcb320b5c60e619e97bc0585c9eab1@examplestorepm.myshopify.com/admin/api/2020-01/products.json", headers: {'X-Shopify-Access-Token' => "3abcb320b5c60e619e97bc0585c9eab1"})

    responseParse = JSON.parse(response.body)

    myData = responseParse["products"][0]["title"]
  %>

  <h1> <%= myData %> </h1>

  <%= link_to "Home", root_path %>
  <%= link_to "New Post", new_post_path %>

    <%= yield %>

  </body>
</html>
